body {
  background-color: #dcdccc;
  width: 900px;
  margin: 10px auto;
  color: #444;
  font-family: 'Oxygen', sans-serif;
  font-size: 13px;
  line-height: 26px;
}
h1, h2, h3, .h3 {
  font-family: 'Dosis', sans-serif;
  font-weight: normal;
  line-height: 1.1em;
}
h1 {
  font-size: 3em;
  margin-top: 10px;
}
h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
}
.h3 {
  font-size: .65em;
}
article {
  float: left;
  width: 65%;
  
}
aside {
  float: right;
  width: 30%;
}
a {
  color: #333;
  text-decoration: none;
}
a:hover {
  color: #888;
  text-decoration: underline;
}
article a {
  color: #335588;
}
pre {
  line-height: 17px;
  margin-top: 15px;
  background-color: #333;
  color: #dcdccc;
  border-radius: 10px;
  padding: 20px;
}
ul {
  margin: 0px;
  padding-left: 20px;
}
.left {
  float: left;
}
/* syntax highlighting */
.paren {
  color: #E3CEAB;
}
.comment {
  color: #999;
}

.hl.num { color:#dca3a3; font-weight:bold; }
.hl.esc { color:#dca3a3; font-weight:bold; }
.hl.str { color:#cc9393; }
.hl.pps { color:#cc9393; }
.hl.slc { color:#999; }
.hl.com { color:#999; }
.hl.ppc { color:#ffcfaf; font-weight:bold; }
.hl.opt { color:#dcdccc; }
.hl.lin { color:#9fafaf; }
.hl.kwa { color:#e3ceab; }
.hl.kwb { color:#dfdfbf; font-weight:bold; }
.hl.kwc { color:#aae3b2; }
.hl.kwd { color:#aabfe3; }
.hl.err { color:#b25a5c; }
