<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8 />
  <title> {% if page.title %} {{ page.title }} | {% endif %} trzewiczek.info</title>
  
  <link href="http://fonts.googleapis.com/css?family=Dosis:300" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Noticia+Text:400,400italic,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="alternate" type="application/atom+xml" title="trzewiczek blog" href="/atom.xml">
  
  <link rel="stylesheet" href="/css/style.css" />
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-31186181-1']);
    _gaq.push(['_setDomainName', 'trzewiczek.info']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
    <header>
      <h1> trzewiczek </h1>
    </header>
 
    <nav role="navigation">
      <ul>
        <li><a href="/">wszystkie projekty,</a></li>
        <li><a href="/download/">do pobrania,</a></li>
        <li><a href="/contact/">kontakt</a></li>
      </ul>
    </nav>

    {{ content }}
 
    <br style="clear: both" />
    <footer>
      <a style="float: left;" rel="license" href="http://creativecommons.org/licenses/by/3.0/pl/"><img alt="Licencja Creative Commons BY-PL 3.0" style="border-width:0; margin-top: 3px; margin-right: 5px;" src="http://i.creativecommons.org/l/by/3.0/pl/80x15.png"></a>
      <span style="margin-left: 5px; float: left;">Wszystkie materiały na tej stronie objęte są licencją Creative Commons Uznanie autorstwa 3.0 Polska</span>
    </footer>
    <br style="clear: both" />
    <script>
      (function check_load() {   
         document.readyState !== "complete" ? setTimeout(check_load,11) : polish();
      })();  

      function polish() {
        var ndash   = String.fromCharCode(8211);
        var quote   = String.fromCharCode(8220);
        var p_quote = String.fromCharCode(8222);
        var hellip  = String.fromCharCode(8230);
        
        var list = document.getElementsByTagName('p');
        var txt, e;
        var i, len;

        for(i = 0, len = list.length; i < len; ++i) {
          e = list[i];
          txt = e.innerHTML;

          txt = txt.replace(/ - /g, " "+ ndash +" "); 
          txt = txt.replace(new RegExp(quote,'g'), p_quote);
          txt = txt.replace(/\.\.\./g, hellip);

          e.innerHTML = txt;
        }
      }
  </script> 
</body>
</html>
